/* Reset Start */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* Reset End */

#game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 600px;
  height: 600px;
  font-size: 60px;
  gap: 10px;
}

#game-grid > div {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(38, 38, 38);
  height: 200px;
  width: 200px;
}

.noclick {
  pointer-events: none;
}
