/* Reset Start */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* Reset End */
:root {
  --black: rgb(37, 37, 37);
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 900px;
  height: 900px;
  gap: 2%;
}

#game-grid > div {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 190px;
  color: var(--black);
  height: 100%;
  width: 100%;
}

.noclick {
  pointer-events: none;
}
