/* Reset Start */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* Reset End */
:root {
  --black: rgb(37, 37, 37);
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

#center-column {
  display: flex;
  direction: row;
  align-items: center;
}

.name-container {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.player {
  padding-top: 10px;
  font-size: 60px;
}

.player-name {
  height: 50px;
  opacity: 0;
  font-size: 40px;
  display: flex;
  flex: 1;
}

.player-name.reveal {
  opacity: 1;
  transition: 1s ease-in;
}

.player-symbol {
  font-size: 120px;
}

#click-to-play,
#click-to-reset {
  width: 22rem;
  height: 6rem;
  font-size: 56px;
  background-color: lightgrey;
  color: var(--black);
  border: 1px solid var(--black);
  transition: 0.1s ease-in-out;
}

#click-to-play:hover,
#click-to-reset:hover {
  background-color: silver;
}

#click-to-play:active,
#click-to-reset:active {
  background-color: lightgray;
  transform: scale(98%);
}

#click-to-reset {
  visibility: hidden;
}

:modal {
  width: 560px;
  height: 560px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -280px;
  margin-top: -280px;
  color: var(--black);
  background-color: whitesmoke;
  font-size: 2rem;
  border: 2px solid gainsboro;
  transition: 0.01s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.modal-p > label {
  font-size: 2.6rem;
  padding: 0px;
}

.modal-p {
  align-items: end;
}

#input-required-1,
#input-required-2 {
  color: firebrick;
  opacity: 0;
}

#input-required-1.reveal,
#input-required-2.reveal {
  transition: 1s ease-in;
  opacity: 1;
}

#input-required-1.fade,
#input-required-2.fade {
  opacity: 0;
  transition: 1s ease-out;
}

#click-to-play.fade {
  opacity: 0;
  transition: 1s ease-out;
}

.modal-p2 {
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  padding: 0px;
}

.modal-p2-label {
  display: flex;
  justify-content: space-between;
}

.modal-p2 > input {
  width: 100%;
}

.modal-p,
.modal-d {
  display: flex;
  margin: 4px 0;
  padding: 12px 0;
  justify-content: space-between;
}

.modal-d > button {
  padding: 14px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.required-animation {
  border: 6px solid lightcoral;
  transition: 0.2s ease-in-out;
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.required-border {
  border: 6px solid lightcoral;
}

#game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 900px;
  height: 900px;
  gap: 2%;
  margin: 20px 40px;
}

#game-grid > div {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 190px;
  color: var(--black);
  height: 100%;
  width: 100%;
}

.noclick {
  pointer-events: none;
}
